version: '3.8'

services:
  weaviate:
    container_name: weaviate
    image: cr.weaviate.io/semitechnologies/weaviate:1.30.0
    ports:
      - "8080:8080"
      - "50051:50051"
    networks:
      - app-network
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
      ENABLE_MODULES: ''   
      CLUSTER_HOSTNAME: weaviate-1  
    volumes:
      - weaviate_data:/var/lib/weaviate
    healthcheck:
      test: ["CMD", "wget", "-q", "http://localhost:8080/v1/.well-known/ready", "-O", "-"]
      interval: 10s
      retries: 10
      start_period: 1m
      timeout: 5s

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    depends_on:
      weaviate:
        condition: service_healthy
    env_file:
      - ./backend/.env
    networks:
      - app-network
    volumes:
      - ./logs:/app/logs
    environment:
      - LOG_DIR=/app/logs

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  weaviate_data:

networks:
  app-network:
    driver: bridge
